th,td{
    padding: 10px 20px;
    border: 1px solid gray;
}
input{
    border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid black;
}
span{
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }