 <div class="columns ">
    <div class="column  ">
        <div class="show-entries">
            Show Entries:
            <select [(ngModel)]="itemsPerPage">
            <option value="2">2</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="30">30</option>
             
            </select>
          </div>
        <table class="table  ">
            <thead>
                <tr>
                    <th>
                        <div class="header">
                            <span>SR NO</span>

                           
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Name</span>
                            <input type="text" placeholder="Filter by name" [(ngModel)]="nameFilter" (change)="table_filter()">
                          
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Email</span>
                            <input type="text" placeholder="Filter by email" [(ngModel)]="emailFilter" (change)="table_filter()">
                           
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Class</span>
                            <input type="text" placeholder="Filter by class" [(ngModel)]="classFilter" (change)="table_filter()">
                           
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Age</span>
                            <input type="text" placeholder="Filter by age" [(ngModel)]="ageFilter" (change)="table_filter()">
                           
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Language</span>
                            <input type="text" placeholder="Filter by title" [(ngModel)]="languageFilter" (change)="table_filter()">
                           
                        </div>
                    </th>

                    


                </tr>

            </thead>
            <tbody>
                <tr class="tt" *ngFor="let student of displayedItems let i=index" >
                    <td> {{i+1}}</td>
                    <td>{{student?.name}}</td>
                    <td>{{student?.email}}</td>
                    <td>{{student?.class}}</td>
                    <td>{{student?.age}}</td>
                    <td>{{student?.language}}</td>


                </tr>

            </tbody>
        </table>
        <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
          </div>
    </div>
</div>

