<!-- <div class="columns ">
    <div class="column  ">
        <table class="table  ">
            <thead>
                <tr>
                    <th>
                        <div class="header">
                            <span>SR NO</span>
                           
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Name</span>
                            <input (keyup)="searchFilter()" #nameVar type="text" name="" placeholder=" Enter Name">
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Email</span>
                            <input (keyup)="searchFilter()" #emailVar type="text" name="" placeholder="Enter Email">
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Class</span>
                            <input (keyup)="searchFilter()" #classVar type="text" name="" placeholder=" Enter Class">
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Age</span>
                            <input (keyup)="searchFilter()" #ageVar type="text" name="" placeholder="Enter Age">
                        </div>
                    </th>
                    <th>
                        <div class="header">
                            <span>Language</span>
                            <input (keyup)="searchFilter()" #languageVar type="text" name="" placeholder=" Enter Language">
                        </div>
                    </th>

                    


                </tr>

            </thead>
            <tbody>
                <tr class="tt" *ngFor="let student of tempStudentListArray let i=index" >
                    <td [ngClass]="{'csp':(i+1)%2==0}">{{i+1}}</td>
                    <td>{{student?.name}}</td>
                    <td>{{student?.email}}</td>
                    <td>{{student?.class}}</td>
                    <td>{{student?.age}}</td>
                    <td>{{student?.language}}</td>


                </tr>

            </tbody>
        </table>
    </div>
</div>



<app-child></app-child>


 -->

 <!-- table-display.component.html -->
<input type="text" placeholder="Filter by name" [(ngModel)]="nameFilter" (change)="table_filter()">
<input type="text" placeholder="Filter by name" [(ngModel)]="priceFilter" (change)="table_filter()">
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredData">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </tbody>
</table>

