th,td{
    padding: 10px 20px;
    border: 1px solid gray;
}
input{
    border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid black;
}
span{
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
}

.tt{
    background-color: antiquewhite;
}