<!-- <div class="coiumns">
    <div class="column is-12">       
       
        <div class="columns" >
            <div  *ngFor="let item of cards">
            <div class="column  card-select card "(click)="selectCardType(item)"
            
             >
                            
                <p class="title">{{item?.name}}</p>
            </div>
        </div>
        </div>
    </div>
</div>  -->

<div class="columns">
            <ng-container  *ngFor="let item of cards ">
                <div   (click)="CardSelection()"  class="column is-1  card card-select  " [class.active]="check">
                <p class="title is-size-4">{{item?.name}}</p>
                <div class="">Class:{{item.class}}</div>
                <div class="">Age:{{item.age}}</div>
                <div class="">:{{item.language}}</div>

                </div>
              

        </ng-container>

    </div>


<!-- <div class="columns">
    <div class="column ">
        <div class="wrapper">
            <div class="select-btn">
                <span> Select </span> -->
                <!-- <i class="fa-solid fa-chevron-down"></i> -->
                <!-- <img src="./assets/down arrow.svg">
            </div>
            <div class="content-search">
                <div class="search"> -->
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <!-- <img src="../../../assets/Research.svg">
                    <input type="text" placeholder="Search..." />
                </div>
                <ul class="options">

                    <li>1 sdgfweyuifyweiuweiouiou</li>
                     <li>1</li>
                      <li>1</li>
                       <li>1</li>
                        <li>1</li>
                         <li>1</li>
                         
                    <li>1</li>
                     <li>1</li>
                      <li>1</li>
                       <li>1</li>
                        <li>1</li>
                         <li>1</li>

                    </ul>

            </div>
        </div>
    </div>
</div> -->

