.card-select{
    cursor: pointer;
    margin: 15px 10px;
    box-shadow: 3px 3px 3px #717171, -3px -3px 3px #717171;
  
}
.card-select.active{
    background-color: rgb(70, 5, 66);
}



.wrapper{
    width: 380px;
    margin:130px   auto 0;
   
    

  

}

.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn{
    height: 40px;

    background: white;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    color: #717784;
    font-weight: 400;
    font-family: inter;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
}

/* .select-btn i{
    
} */
.content-search{
    margin-top:0px;
    background: white;
    padding: 10px;
    border-radius: 4px;

}
.content-search .search{
    position: relative;
    left: 0;



}
.search img{
    position: absolute;
    left:10px;
    line-height: 53px;
    color: #999;
    font-size: 20px;
    margin-top:13px;


}
.search input{
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 10px 0 30px;
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: 5px;




}

.options::-webkit-scrollbar{
    width: 7px;

}
.options::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 25px;

}
.options::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 25px;
    
}
.content-search .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;


}
.content-search .options li{
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 5px;
    font-size: 14px;



}
.content-search .options li:hover{
    background: #f2f2f2;
}

