
<div class="container">
 <div class="row">
    <div class="col-4"></div>
    <div class="col-4 bg-info mt-5 py-5">
       <form>
        
        <label class="form-label">Email</label>
        <input type="email" class="form-control py-2" formControlName="email" placeholder="Enter Email">
        <div class="text-danger" *ngIf="formControls['email']?.errors && (formControls['email']?.touched || isSubmitted)">
         
        </div>
        <label class="form-label">Password</label>
        <input type="email" class="form-control py-2" formControlName="passWord" placeholder="Enter Password">
        <label class="form-label">Confirm Password</label>
        <input type="email" class="form-control py-2" formControlName="CpassWord" placeholder="Enter Confirm Password">
        <label class="form-label">Zip Code</label>
        <input type="email" class="form-control py-2" formControlName="zipCode" placeholder="Enter Zip Code">
        <button class="btn btn-primary mt-2"(click)="onSubmit()" > Submit</button>
        
          
           
       </form>

    </div>
 </div>

</div>